{% extends 'dashboard/base.html' %}

{% block title %}Inventory Dashboard{% endblock %}

{% block content %}
<div class="flex">
    <!-- Sidebar Section -->
    <div class="w-1/5 bg-gray-800 text-white p-6">
        <div class="flex flex-col">
            <h3 class="text-2xl font-semibold mb-8">Welcome, Jeff Marsh</h3>
            <ul>
                <li class="mb-4">
                    <a href="{% url 'dashboard:index' %}" class="text-lg hover:underline">Dashboard</a>
                </li>
                <li class="mb-4">
                    <a href="{% url 'dashboard:sales' %}" class="text-lg hover:underline">Sales</a>
                </li>
                <li class="mb-4">
                    <a href="{% url 'dashboard:inventory_log' %}" class="text-lg hover:underline font-bold text-blue-400">Inventory</a>
                </li>
                <li class="mb-4">
                    <a href="{% url 'dashboard:claims' %}" class="text-lg hover:underline">Claims</a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}
